.git
**/node_modules
node_modules_old
.pnpm-store
**/.next
**/.expo
**/dist
**/build
**/*.tsbuildinfo
**/.env
**/.env.*
!**/.env.example
!**/.env.local.example
**/google-services.json
**/GoogleService-Info.plist
backups
.tmp*
*.pdf
*.docx
chapter3_verification_package
